*,
*::after,
*::before {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    line-height: 1.5;
    font-size: 1rem;
}